* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
}

body {
    background-color: #FFF3DA;
    height: 100vh;

    display: grid;
    grid-template-columns: 20px repeat(2,1fr) 20px;
    grid-template-rows: 40px 20% 1fr 10%;

    gap: 20px;
}

header {
    background-color: #fff;

    border-radius: 10px 10px 0px 0px;
    border-bottom: 2px solid #BEADFA;
    padding: 20px;

    grid-column: 2 / -2;
    grid-row: 2 / 3;
}

header h1 {
    font-family: "Montserrat", sans-serif;
    color: #BEADFA;
    font-size: 3.2rem;
}

main {
    font-size: 1.6rem;
    grid-column: 2 / -2;
    grid-row: 3 / 4;
}

.item-list {
    list-style-type: none;
}

.item-list li {
    background-color: #fff;
    margin-top: 20px;
    padding: 16px;
    border-radius: 5px;

    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

label {
    width: 100%;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    width: 30px;
    height: 30px;
    border: 2px solid #BEADFA;
    margin-right: 10px;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: #BEADFA;
}

input[type="checkbox"]:checked:after {
    content: '\2713';
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 7px;
    top: 2px;
}

footer {
    background-color: #fff;

    grid-column: 1 / -1;
    grid-row: 4 / -1;
    
    text-align: center;
    font-size: 1.2rem;

    color: #00000080;
    padding-top: 17px;
}